<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.techtown.findmeapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FindmeApplication"
        android:usesCleartextTraffic="true">
        <service android:name=".MusicService"></service>
        <activity
            android:name=".DiaryRecycleActivity"
            android:exported="false" />
        <activity
            android:name=".changePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".settingActivity"
            android:exported="false" />
        <activity
            android:name=".Findpassword"
            android:exported="false" />
        <activity
            android:name=".FindId"
            android:exported="false" />
        <activity
            android:name=".question_write"
            android:exported="false" />
        <activity
            android:name=".diary_write"
            android:exported="false" />
        <activity
            android:name=".homeActivity"
            android:exported="false" />
        <activity
            android:name=".Register_userpassword"
            android:exported="false" />
        <activity
            android:name=".Register_userEmail"
            android:exported="false" />
        <activity
            android:name=".Register_UserPhone"
            android:exported="false" />
        <activity
            android:name=".Register_userName"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>